@media only screen and (max-width: 600px) {
    

.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    margin-top: 100px;
  }
        .scrollmenu::-webkit-scrollbar {
            display: none; /* safari chrome opera  */
        }
        .scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
.scrollmenu .scrollCont {
    display: inline-block;
    color: rgba(255, 255, 255, 0.486);
    text-align: center;
    padding: 10px;
    margin:10px;
    width: 90%;
  }
  .title  {
    color:#333;
  }
  
  .scrollmenu .scrollCont:hover {
    background-color: rgba(119, 119, 119, 0.507);
  }
}
.scrollmenu{
    display: grid;
    grid-template-columns: 50% 50%;
}
.scrollmenu .scrollCont {
    display: inline-block;
    color: rgba(255, 255, 255, 0.486);
    text-align: center;
    padding: 10px;
    margin:10px;
    width: 90%;
  }
  .title  {
    color:#333;
  }